
body{
    background-color: #F3F5FC;
}

main{
    display: flex;
    flex-direction: row;
    
}
.Container{
    background:#F3F5FC;
    width: 70%;
    height: 90vh;
}

.logo{
    background-color:#F3F5FC;
    width: 100px;
    height: 40px;
    margin: 30px 30px 20px 30px;
    padding:5px
}

.img-logo{
  width:100%;
  height:100%;
}

.input-mensaje{
    background-color:#F3F5FC;
    width: 60%;
    height: 68%;
    margin: auto 10rem;
    box-sizing: border-box;
}

.mensaje{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    resize: none;
    outline: none;
    background-color: #F3F5FC;
    font-size: 22px;
    font-family: 'Inter';
}

.mensaje::placeholder{
    color: #0A3871;
}

.mensaje:focus{
    border: none;
    outline: none;
}

.advertencia{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;

}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%;
}

.btn-encriptar{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8pX;
    width: 25%;
    background-color: #0A3871;
    border-radius: 24pX;
    font-family: 'Inter';
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    margin-right: 20px;
}

.btn-desencriptar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background: #D8DFE8;
    border: 1PX solid #0A3871;
    border-radius: 24px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}

.btn-encriptar:hover,.btn-desencriptar:hover{
    margin: 0.3%;
    width: 24.5%;
    padding: 1.8%;
}

.Encriptado{
    width: 300px;
    height: 600px;
    display: inline-block;
    vertical-align: top;
    background-color: #ffffff;
    margin-left: 50px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 24px 32px -8px rgb(0,0,0, 08);
    border-radius: 32px;
    box-sizing: border-box;
    overflow: hidden;
}

.textoEncriptado{
    width: auto;
    height: 62%;
    padding-block: 30px;
    font-size: 20px; 
    margin:5px 50px 0 5px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-position: 30px -50px;
    border-radius: 15px 15px 15px 15px;
}

.textoEncriptado h1{
    width: 300px;
    height: 58px;    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #343A40;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;    
}

.textoEncriptado p{
    width: 300px;
    height: 48px;    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;    
}

.personaje{
    width: 280px;
    height: 250px;
}

.textoEncriptado textarea {
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    border: none;
    border-radius: 24px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    resize: none;
}

.btn-copiar {
    width: 35%;
    height: 40px;
    display: block;
    margin: auto;
    justify-content: center;    
    border: 1PX solid #0A3871;
    border-radius: 24px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    padding: 2%;
    gap: 8px;
    background: #D8DFE8;
    color: #0A3871; 
}

.btn-copiar:hover {
    text-align: center;
    transform: scale(1.2); 
}

.pie-pagina{
    display: block;
    justify-content: center;
    height: auto;
    position: relative;
}


@media (max-width: 576px) {    
    main {
        flex-direction: column;
        align-items: center;
    }

    .Container {
        width: 100%;
        margin: 0;
    }

    .Encriptado {
        width: 100%;
        margin: 20px 0;
    }

    .textoEncriptado{   
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 32px;
        gap: 32px;
        position: absolute;
        width: 327px;
        height: 186px;
        left: 24px;
        top: 707px;
        background: #FFFFFF;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 32px;
    }

    .input-mensaje {
        margin: 20px 10px;
        width: 80%;
    }

    .advertencia{
        width: 80%;
        margin: 1px 10px;
    }

    .botones {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
        position: absolute;
        width: 343px;
        height: 158px;
        left: 16px;
        top: 485px;        
    }

    .btn-encriptar,
    .btn-desencriptar {
        width: 100%;
        box-sizing: border-box; 
    }

    /* .personaje{
        display: none;
    } */

    .textoEncriptado {
        width: 80%;
    }
}